<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>王福林个人网站</title>
		<link href="stylesheets/normalize.css" rel="stylesheet" type="text/css" />
		<link href="stylesheets/common.css" rel="stylesheet" type="text/css" />
		<link href="stylesheets/error.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div>
			This is error page
		</div>
	</body>
</html>