<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>王福林个人网站</title>
		<link href="stylesheets/normalize.css" rel="stylesheet" type="text/css" />
		<link href="stylesheets/common.css" rel="stylesheet" type="text/css" />
		<link href="stylesheets/index.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<!-- 导航条 -->
		<header>
			<nav>
				<ul>
					<li>
						<a href="/">主页</a>
					</li>
					<li>
						<a href="/archives">博客</a>
					</li>
					<li>
						<a href="/resume">简历</a>
					</li>
					<li>
						<a href="/about">关于</a>
					</li>
				</ul>
			</nav>
		</header>
		<!-- /导航条 -->

		<main>
		This is index
		</main>

		<footer>

		</footer>
	</body>
</html>